﻿@using Microsoft.AspNetCore.Identity;
@using AwesomeNet.Unit35.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model AwesomeNet.Unit35.ViewModels.Account.MainViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h1>Hello @User.Identity.Name</h1>
    </div>

    <div class="topnav">
        <div id="button">
            <form>
                <button method="get" type="submit" class="enter_submit" asp-controller="AccountManager" asp-action="UserPage">Продолжить</button>
            </form>
        </div>       
    </div>
}
else
{

    <div class="row1">

        <div class="side">
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="/img/husky_400.png" />@* *@
        </div>

        <div class="main">
            <partial name="Login" model="@Model.LoginView" />
            <partial name="Register" model="@Model.RegisterView" />
        </div>

    </div>

}
