﻿@using Microsoft.AspNetCore.Identity;
@using AwesomeNet.Repository.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model AwesomeNet.Front.ViewModels.Account.MainViewModel;

@{
    ViewData["Title"] = "Home Page"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    {
        <a asp-area="" asp-controller="AccountManager" asp-action="UserPage"> -> To user UserPage</a>
    }   
        
    <div>
        <h1>Hello @User.Identity.Name</h1>
    </div>

    <div class="topnav">
        

        <div id="button">
            <form>
                <button method="get" type="submit" class="enter_submit" asp-controller="AccountManager" asp-action="UserPage">На страницуе пользователя...</button>
            </form>
        </div>       
    </div>
    
    @*//avto редирект  так не сработало
   ViewData["Title"] = "UserPage";*@
}
else
{
    {
        <a asp-area="" asp-controller="Home" asp-action="Index">SocialNetwork</a>
    }

    
    <div class="row1">

        <div class="side">
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="/img/husky_400.png" />@* *@
        </div>

        <div class="main">
            <partial name="Login" model="@Model.LoginView" />
            <partial name="Register" model="@Model.RegisterView" />
        </div>

    </div>

}
