@model AwesomeNet.Front.ViewModels.Account.UserViewModel

<div class="block-reg background-white">
    <h3 class="center">Model.User.GetFullName()</h3>
    <h4 class="center">@Model.User.GetFullName()</h4> 
</div>
